body { background:#FFF url('http://www.intermine.org/modencode/static/img/bg.png') repeat-x top left; font-family:Arial,"Gill Sans","Gill Sans MT", "Myriad Pro",
    Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, sans-serif; }
td {
    font-size: 10pt
}
.indent {
    position:relative;
    left: 10em;
}
div.header {
    background: #6ECCF8 url('../top_gradient.png') repeat-x;
    height:60;
    color: white;
}
div.label-header {
    background: #6ECCF8;
}
td.notice,span.notice,div.notice {
    background-color: #5EA2B9;
    color: white;
    font-weight:bold;
}
.submission {
    cursor: pointer;
}
.submission-tile {
    float: left;
    font-size:  8pt;
    cursor:     pointer;
    height:     60px;
    width:      380px;
    border:     1px solid #BCB79E;
    padding:    0.2em;
    background: #F0FFF0;
    margin:     0.2em;/* auto; */
    vertical-align: top;
    text-align: left;
    overflow: auto;
}
div.popup {
    display: none;
}
div.popup-contents {
    border-style: double;
    font-family: sans-serif;
    font-size:   10pt;
    padding: 0.5em;
}
div.status {
    border:     1px solid #BCB79E;
    background: #F0FFF0;
}
span.exhibit-collectionView-group-count {
    color:       #ccc;
    font-weight: normal;
}
div.exhibit-facet-body,div.exhibit-flowingFacet-body {
    border: 1px solid #ccc;
    background: #F0FFF0;
}

div.exhibit-facet-value-selected {
    background:  none;
    font-weight: bold;
}
div.name {
    font-weight: bold;
    font-size:   110%;
}
.organism {
    font-style: italic;
}
.condition {
}
.field-label {
    font-weight: bold;
    color: red;
}
.field-value {
    font-weight: bold;
}
.selected {
    background-color: wheat;
}
tr.odd {
    background-color:#EEF0E3;
}
tr.even {
    background-color: white;
}
div.select-track {
    font-size: 110%;
    font-weight: bold;
    color: blue;
    float: right;  
}
div.exhibit-thumbnailView-itemContainer {
    padding: 0px;
}
div.exhibit-flowingFacet-body {
    max-height: 400px;
    overflow: auto;
}
ol.exhibit-tileView-body {
    list-style-type: none;
}
ul,ol#shopping_cart {
    border: 1px;
    border-style: solid;
    border-color: gray;
    height: 80px;
    resize: vertical;
    overflow: auto;
    list-style-type: none;
    margin-top: 0em;
    margin-bottom: 0em;
}
.strikeout {
    text-decoration: line-through;
    color:           gray;
}
span.expand,span.contract {
    cursor: pointer;
    color:  #5EA2B9;
}
.exhibit-flowingFacet-header,.exhibit-facet-header-title {
    color:  #5EA2B9;
}
span.expand {
    display:block;
}
.link {
    cursor:pointer;
    color:blue;
}
.centered {
    margin:    0px auto;
    text-align:center    
}
.bold {
    font-weight:bold;
}
#data-table {
    margin-right:1em;
    border:1px solid #BCB79E;
}
span.exhibit-facet-header-title {
    cursor: pointer;
}